<section id="main-screen" class="main-screen">
	<div class="container">
		<div class="offer">
			<p class="offer__text">Учим JavaScript легко и просто</p>
			<h1 class="offer__title">JS Tower - сайт для практического изучения языка JavaScript</h1>
		</div>
		<img src="assets/img/web-werstak-nachalo.png" alt="" class="girl-on-planet">
	</div>
</section>
<section id="reasons" class="reasons">
	<div class="container">
		<h2>Зачем учить Javascript</h2>
		<div class="reasons-text">
			<p>В современной разработке JavaScript является очень популярным языком программирования для написания кода.</p>
			<p>Это единственный язык, который понимают браузеры. Над его улучшением работают разработчики всего мира.</p>
			<p>JavaScript также набирает популярность в приложениях для компьютеров (<a href="https://www.skype.com/ru/">Skype</a>, <a href="https://code.visualstudio.com/">Visual Studio Code</a> и др.)</p>
			<p>JavaScript также позволяет писать back-end благодаря технологии <a href="https://nodejs.org">Node.js</a>.</p>
			<p>На JavaScript можно писать мобильные приложения используя <a href="http://www.reactnative.com/">React Native</a>.</p>
		</div>
	</div>
</section>
<section id="help" class="help">
	<div class="container">
		<h2>С чем вам поможет этот сайт</h2>
		<ul class="help-list">
			<li>подготовится к собеседованию на front-end разработчика</li>
			<li>подтянуть свои знания в JavaScript</li>
			<li>быстро вспомнить синтаксис и конструкции языка</li>
		</ul>
	</div>
</section>
<app-footer></app-footer>