$text-color: #1A1A1A;

a {
	color: #0031CC;
	font-weight: 500;
}

h2 {
	color: #0F687E;
	text-transform: uppercase;
	text-align: center;
	font-size: 24px;
}

.main-screen {
	padding: 70px 0;
	background: #0031CC;
	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.offer {
	width: 50%;
	color: #fff;
}

.offer__text {
	margin-bottom: 5px;
	font-size: 22px;
}

.offer__title {
	font-size: 30px;
}

.reasons {
	padding: 60px 0;
	h2 {
		margin-bottom: 25px;
	}
}

.reasons-text {
	padding: 5px 20px 5px 30px;
	margin: 0 auto;
	width: 90%;
	font-size: 20px;
	color: $text-color;
	border-left: 2px solid #0F687E;
	border-radius: 4px;
	P:last-child {
		margin-bottom: 0;
	}
}

.help {
	padding-bottom: 60px;
	h2 {
		margin-bottom: 30px;
	}
}

.help-list {
	padding: 30px 45px;
	background: #FFF3A5;
	li {
		padding-left: 50px;
		margin-bottom: 25px;
		position: relative;
		&:last-child {
			margin-bottom: 0;
		}
		&:before {
			content: url("/assets/img/checkmark.svg");
			display: block;
			position: absolute;
			left: 0;
			top: 50%;
			margin-top: -12px;
		}
	}
}