<section id="main-screen" class="main-screen">
	<div class="container">
		<div class="offer">
			<p class="offer__text">Вчимо JavaScript легко і просто</p>
			<h1 class="offer__title">JS Tower - сайт для практичного вивчення мови JavaScript</h1>
		</div>
		<img src="assets/img/web-werstak-nachalo.png" alt="" class="girl-on-planet">
	</div>
</section>
<section id="reasons" class="reasons">
	<div class="container">
		<h2>Навіщо вчити Javascript</h2>
		<div class="reasons-text">
			<p>В сучасній розробці JavaScript став дуже популярною мовою програмування для написання коду.</p>
			<p>Це єдина мова, яку розуміють браузери. Над її покращенням працюють розробники всього світу.</p>
			<p>JavaScript також набирає популярність в програмах для комп'ютерів (<a href="https://www.skype.com/ru/">Skype</a>, <a href="https://code.visualstudio.com/">Visual Studio Code</a> тощо.)</p>
			<p>JavaScript також дозволяє писати код для back-end розробки завдяки технології <a href="https://nodejs.org">Node.js</a>.</p>
			<p>На JavaScript можна писати мобільні застосування використовуючи <a href="http://www.reactnative.com/">React Native</a>.</p>
		</div>
	</div>
</section>
<section id="help" class="help">
	<div class="container">
		<h2>З чим Вам домопоже цей сайт</h2>
		<ul class="help-list">
			<li>підготуватися до співбесіди на front-end розробника</li>
			<li>вивчити конструкції та принципи мови програмування JavaScript</li>
			<li>швидко згадати синтаксис та конструкції мови</li>
		</ul>
	</div>
</section>
<app-footer></app-footer>