<header id="header" class="header">
  <div class="container">
    <div class="navigation">
      <a href="#" class="logo">
        <img src="assets/img/logo.png" alt="JS Tower">
      </a>
      <nav class="nav-menu">
        <ul class="menu">
          <li><a href="#">Тренажеры</a></li>
          <li><a href="#">Редактор</a></li>
          <li><a href="#">Дополнения</a></li>
        </ul>
      </nav>
      <div class="cabinet">
        <a href="#">
          <img src="assets/img/user-replacement.png" alt="User photo" class="photo">
          <span>Личный кабинет</span>
        </a>
      </div>
    </div>
  </div>
</header>
