<header id="header" class="header">
	<div class="container">
		<div class="navigation">
			<a routerLink="" class="logo">
				<img src="assets/img/logo.png" alt="JS Tower">
			</a>
			<nav class="nav-menu">
				<ul class="menu">
					<li><a routerLink="/exercises">Упражнения</a></li>
					<li><a href="#">Дополнительно</a></li>
				</ul>
			</nav>
			<div class="cabinet">
				<a href="#" *ngIf="auth">
					<img src="assets/img/user-replacement.png" alt="User photo" class="photo">
					<span>Личный кабинет</span>
				</a>
				<a href="#" *ngIf="!auth">
					<img src="assets/img/sign-in.svg" alt="" class="sign-in">
					<span>Войти</span>
				</a>
			</div>
		</div>
	</div>
</header>
