a {
  color: #fff;
  &:hover {
    color: #fff;
  }
}

.header {
  padding: 10px 0;
  font-size: 18px;
  background-image: linear-gradient(180deg, #1A02B8 0%, #15009D 100%);
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: block;
  img {
    height: 40px;
  }
}

.menu {
  display: flex;
  justify-content: space-between;
  li {
    margin-right: 150px;
    &:last-child {
      margin-right: 0;
    }
  }
}

.cabinet {
  a {
    display: flex;
    align-items: center;
	}
	img {
		margin-right: 12px;
	}
  .photo {
    width: 35px;
    height: 35px;
	}
	.sign-in {
		width: 25px;
	}
}
