<div class="description">
	<h1 class="description__title">{{detail?.name}}
	</h1>
	<div [innerHtml] = detail?.description></div>
	<!--<p>
		In JavaScript, you can store a value in a variable with the
		assignment operator.
	</p>
	<p><i>myVariable = 5;</i></p>
	<p>
		This assigns the <i>Number</i> value <i>5</i> to <i>myVariable.</i>
	</p>
	<p>
		Assignment always goes from right to left. Everything to the right
		of the = operator is resolved before the value is assigned to the
		variable to the left of the operator.
	</p>
	<div class="gray-block">
		<p><i>myVar = 5;</i></p>
		<p><i>myNum = myVar;</i></p>
	</div>
	<p>
		This assigns <i>5</i> to <i>myVar</i> and then resolves
		<i>myVar</i> to <i>5</i> again and assigns it to <i>myNum</i>.
	</p>-->
</div>
