<header id="header" class="header">
	<div class="container">
		<div class="navigation">
			<a routerLink="" class="logo">
				<img src="assets/img/logo.png" alt="JS Tower">
			</a>
			<nav class="nav-menu">
				<ul class="menu">
					<li><a routerLink="/exercises">Вправи</a></li>
					<li><a href="#">Додатково</a></li>
				</ul>
			</nav>
			<div class="cabinet">
				<a routerLink="/cabinet" *ngIf="auth">
					<img src="assets/img/user-replacement.png" alt="User photo" class="photo">
					<span>Персональний кабінет</span>
				</a>
				<a routerLink="/login" *ngIf="!auth">
					<img src="assets/img/sign-in.svg" alt="" class="sign-in">
					<span>Війти</span>
				</a>
				<a (click)="onLogout()" *ngIf="auth">
					<img src="assets/img/sign-in.svg" alt="" class="sign-in">
					<span>Вийти</span>
				</a>
			</div>
		</div>
	</div>
</header>