.exercises {
  padding: 70px 0 50px;
  color: #000;
  background-color: #dbdcf2;
}

.site-title {
  margin: 0 auto 40px;
  max-width: 700px;
  text-align: center;
  font-weight: 400;
  font-size: 25px;
}

.exercises-list {
  display: flex;
  justify-content: space-between;
  li {
    width: 100%;
    max-width: 296px;
    background: #fff;
    overflow: hidden;
  }
  .img-wrap {
    display: flex;
    align-items: flex-start;
    img {
      width: 100%;
    }
  }
  h3 {
    padding: 10px 0;
    text-align: center;
    font-size: 25px;
    font-weight: 400;
    position: relative;
    &:before {
      content: '\\';
      color: #f8bf25;
      font-size: 32px;
      position: absolute;
      left: 15px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .progress {
    padding: 10px 0;
    font-size: 21px;
    text-align: center;
    color: #fff;
    background-image: linear-gradient(to top, #171c1d 0%, #1a02b8 100%);
  }
  .progress__container {
    margin: 5px auto 0;
    width: 95%;
    height: 7px;
    background: #9e9e9e;
    border-radius: 5px;
    overflow: hidden;
  }
  .progress__bar {
    height: 100%;
    background: #f8bf25;
  }
}
