<section id="exercises" class="exercises">
	<div class="container">
		<h1 class="exercises-title">Упражнения для изучения JavaScript</h1>
		<!-- exercises-list -->
		<ul class="exercises-list">
      <!-- ex1 -->
			<li class="purple">
        <a routerLink="/exercises/ex1" class="icon-comet">
					<div class="exercises-list__content">
						<h2>Тренировка кода</h2>
						<p>Упражнение рассчитаное на освоение конструкций языка в практическом применении</p>
					</div>
					<div class="progress">
						<span>Прогресс 11/100</span>
					</div>
        </a>
      </li>
      <!-- ex2 -->
      <li class="blue">
        <a href="#" class="icon-clever">
          <div class="exercises-list__content">
						<h2>Определи результат</h2>
						<p>Докажи, что можешь понять как работает любой код, каким бы хитрым он ни был</p>
					</div>
					<div class="progress">
						<span>Прогресс 11/100</span>
					</div>
        </a>
      </li>
      <!-- ex3 -->
      <li class="purple-light">
        <a href="#" class="icon-around-the-world">
          <div class="exercises-list__content">
						<h2>Ответь на вопрос</h2>
						<p>Проверь свои теоретические знания, ответив на все поставленные вопросы</p>
					</div>
					<div class="progress">
						<span>Прогресс 11/100</span>
					</div>
        </a>
      </li>
		</ul>
	</div>
</section>
<app-footer></app-footer>