<section class="auth-section">
	<div class="container">
		<h2>Вход для зарегистрированных пользователей</h2>
		<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
			<div class="form-group">
				<label for="login">Логин <span>*</span></label>
				<input type="text" id="login" formControlName="login" required>
			</div>
			<div class="form-group">
				<label for="password">Пароль <span>*</span></label>
				<input type="password" id="password" formControlName="password" required>
			</div>
			<div class="form-buttons">
				<button type="submit" [disabled]="!loginForm.valid">Войти</button>
				<a routerLink="/register">Зарегистрироваться</a>
			</div>
		</form>
	</div>
</section>
<app-footer></app-footer>