<div class="sidebar">
	<ul class="sidebar-list">
		<li>
			<button (click)="showTasksList = !showTasksList; showSettings = false" title="Список завдань">
				<img src="assets/img/task-list.png" alt="">
			</button>
		</li>
		<li>
			<button (click)="showSettings = !showSettings; showTasksList = false" title="Налаштування">
				<img src="assets/img/task-settings.png" alt="">
			</button>
		</li>
	</ul>
</div>
<!-- tasks list -->
<div *ngIf="showTasksList" class="tasks-modal tasks-list">
	<div class="tasks-modal__title">
		<h4>Список завдань</h4>
		<a (click)="showTasksList = false" class="close" title="Закрити">&times;</a>
	</div>
	<div class="tasks-modal__content">
		<div *ngFor="let level of taskList" class="tasks-modal__volume">
			<h5>{{level.name}}</h5>
			<ul>
				<li *ngFor="let task of level.tasks">
					<a (click)="onTaskSelect(level.id, task.id)">
						<i>{{task.id}}</i>
						<strong title="{{task.name}}">{{task.name}}</strong>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<!-- tasks settings -->
<div *ngIf="showSettings" class="tasks-modal tasks-settings">
	<div class="tasks-modal__title">
		<h4>Налаштування</h4>
		<a (click)="showSettings = false" class="close" title="Закрити">&times;</a>
	</div>
	<div class="tasks-modal__content">
		<button (click)="resetAllProgress()" class="reset-all">Обнулити прогрес</button>
	</div>
</div>