<div class="sidebar">
	<ul class="sidebar-list">
		<li><img src="assets/img/task-list.png" alt=""></li>
		<li><img src="assets/img/task-settings.png" alt=""></li>
	</ul>
</div>
<!-- tasks list -->
<div class="tasks-modal tasks-list">
	<div class="tasks-modal__title">
		<h4>Список завдань</h4>
		<a href="#" class="close">&times;</a>
	</div>
	<div class="tasks-modal__content">
		<div class="tasks-modal__volume">
			<h5>Основи JavaScript</h5>
			<ul>
				<li>
					<a href="#">
						<i>1</i>
						<strong>Коментарі</strong>
					</a>
				</li>
				<li>
					<a href="#">
						<i>2</i>
						<strong>Змінні</strong>
					</a>
				</li>
				<li>
					<a href="#">
						<i>3</i>
						<strong>Завдання 3</strong>
					</a>
				</li>
				<li>
					<a href="#">
						<i>4</i>
						<strong>Завдання 4</strong>
					</a>
				</li>
			</ul>
		</div>
		<div class="tasks-modal__volume">
			<h5>Функції</h5>
			<ul>
				<li>
					<a href="#">
						<i>5</i>
						<strong>Завдання 5</strong>
					</a>
				</li>
				<li>
					<a href="#">
						<i>6</i>
						<strong>Завдання 6</strong>
					</a>
				</li>
				<li>
					<a href="#">
						<i>7</i>
						<strong>Завдання 7</strong>
					</a>
				</li>
				<li>
					<a href="#">
						<i>8</i>
						<strong>Завдання 8</strong>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<!-- tasks settings -->
<div class="tasks-modal tasks-settings">
	<div class="tasks-modal__title">
		<h4>Список завдань</h4>
		<a href="#" class="close">&times;</a>
	</div>
</div>