$ex1_padding: 20px;

.exercise {
	padding-right: 60px;
	background-color: #dbdcf2;
	height: 100vh;
	display: flex;
	justify-content: space-between;
	position: relative;
	.exercise__content {
		padding: $ex1_padding;
		width: 100%;
		display: flex;
		justify-content: space-between;
	}
	.column {
		width: 50%;
	}
	.column-left {
		padding-right: $ex1_padding - 10px;
	}
	.column-right {
		padding-left: $ex1_padding - 10px;
	}
}

.sidebar-wrapper {
	width: 60px;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
}