* {
  box-sizing: border-box;
}

body {
  margin: 0;
	font-family: 'Arial', sans-serif;
	line-height: 1;
	height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

p {
  margin-top: 0;
  margin-bottom: 0.5em;
}

a, a:hover {
	cursor: pointer;
  text-decoration: none;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.hidden {
	display: none !important;
}

.form-group {
	margin-bottom: 25px;
	font-size: 14px;
	display: flex;
	flex-direction: column;
	label {
		margin-bottom: 10px;
		color: #1A1A1A;
		span {
			color: red;
		}
	}
	input {
		padding: 5px 10px;
		height: 35px;
		width: 100%;
		max-width: 318px;
		border: 1px solid #CFDBCF;
		border-radius: 3px;
		background: #fff;
	}
}

.form-buttons {
	font-size: 14px;
	button {
		padding: 10px 21px;
		margin-right: 15px;
		color: #fff;
		font-weight: 700;
		background: #007BFF;
		border: none;
		border-radius: 3px;
		cursor: pointer;
		transition: all .3s ease;
		&:hover {
			background: #0059FF;
		}
	}
	a {
		color: #007BFF;
		&:hover {
			color: #007BFF;
			text-decoration: underline;
		}
	}
}

/* exercises */
$ex1_padding: 20px;

.exercise {
	padding-right: 60px;
	background-color: #dbdcf2;
	height: 100vh;
	display: flex;
	justify-content: space-between;
	position: relative;
	.exercise__content {
		padding: $ex1_padding;
		width: 100%;
		display: flex;
		justify-content: space-between;
	}
	.column {
		width: 50%;
	}
	.column-left {
		padding-right: $ex1_padding - 10px;
	}
	.column-right {
		padding-left: $ex1_padding - 10px;
	}
}

// sidebar
.sidebar-wrapper {
	width: 60px;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
}

// button check answer
.check-answer {
	display: block;
	padding: 15px 14px;
	width: 60px;
	height: 58px;
	border: none;
	background: transparent;
	outline: none;
	cursor: pointer;
	transition: all .3s ease;
	position: fixed;
	right: 0;
	bottom: 0;
	z-index: 100;
	&:hover {
		background: #d68c15;
	}
	img {
		display: block;
		width: 100%;
		height: auto;
	}
}

// description
.description {
	padding: 20px;
	height: 100%;
	font-size: 16px;
	background: #eee;
	overflow: auto;
	.description__title {
		margin-bottom: 20px;
	}
	p {
		margin-bottom: 15px;
		font-size: inherit;
		line-height: 1.3em;
		i {
			color: #750000;
			font-style: normal;
		}
	}
	blockquote {
		padding: 10px 20px;
		margin: 0 0 15px;
		color: #750000;
		line-height: 1.4em;
		font-size: inherit;
		background-color: #e1e1e1;
	}
	.check-list {
		padding: 15px 0 30px;
		h4 {
			margin-bottom: 10px;
		}
		li {
			padding: 10px;
			margin-bottom: 10px;
			background: #e1e1e1;
			border-radius: 10px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

.answer {
	height: 100%;
	background: #eee;
	overflow: auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	h4 {
		margin: 20px 0;
		font-size: 20px;
	}
	input[type="text"] {
		display: block;
		width: 100%;
		max-width: 300px;
		font-size: 20px;
	}
}