<section id="additionally" class="additionally">
  <div class="container">
    <h1>Додаткові ресурси для вивчення JavaScript</h1>
    <div class="content">
      <p>
        <a href="https://learn.javascript.ru">JavaScript довідник</a> – веб-ресурс, що описує функції та конструкції мови JavaScript на російській мові. На ресурсі є багато статей про JavaScript та його примінення.
      </p>
      <p>
        <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/A_re-introduction_to_JavaScript">A re-introduction to Java​Script (JS tutorial)</a> – чудова стаття англійською мовою від команди розробників Mozilla Foundation.
      </p>
      <p>
        <a href="https://learn.freecodecamp.org/">FreeCodeCamp</a> – безкоштовний веб-ресурс для вивчення мови JavaScript з великою кількістю завдань починаючи від основ і закінчуючи фреймворками та Node.js. Чудове місце попрактикуватися в написанні коду.
      </p>
      <p>
        <a href="https://www.codewars.com">Codewars</a> – веб-ресурс, що підходить людям, які бажають позмагатися в написанні коду та покращити свої вміння.
      </p>
    </div>
  </div>
</section>
<app-footer></app-footer>