<section id="exercises" class="exercises">
	<div class="container">
		<h1 class="site-title">Этот сайт специально разработанный для практического изучения языка программирования JavaScript.</h1>
		<ul class="exercises-list">
      <!-- ex1 -->
			<li>
        <a routerLink="/ex1">
          <div class="img-wrap">
            <img src="assets/img/ex1.jpg" alt="Тренировка кода">
          </div>
          <h3>Тренировка кода</h3>
          <div class="progress">
            <span>40%</span>
            <div class="progress__container">
              <div style="width: 40%" class="progress__bar"></div>
            </div>
          </div>
        </a>
      </li>
      <!-- ex2 -->
      <li>
        <a href="#">
          <div class="img-wrap">
            <img src="assets/img/ex2.jpg" alt="Тренировка кода">
          </div>
          <h3>Ответь на вопрос</h3>
          <div class="progress">
            <span>40%</span>
            <div class="progress__container">
              <div style="width: 40%" class="progress__bar"></div>
            </div>
          </div>
        </a>
      </li>
      <!-- ex3 -->
      <li>
        <a href="#">
          <div class="img-wrap">
            <img src="assets/img/ex3.jpg" alt="Тренировка кода">
          </div>
          <h3>Определи результат</h3>
          <div class="progress">
            <span>40%</span>
            <div class="progress__container">
              <div style="width: 40%" class="progress__bar"></div>
            </div>
          </div>
        </a>
      </li>
		</ul>
	</div>
</section>
